In [1]:
import pandas as pd
import numpy as np

In [2]:
# from iterable
data = [
    [1, 3, 8, 2],
    [4, 4, 1, 2],
    [3, 9 , 7, 7],
    [0, 2, 8, 1]
]
cols = ['A', 'B', 'C', 'D']
idx = ['Z', 'Y', 'X', 'W']

pd.DataFrame(data, columns=cols, index=idx, dtype=float)

     A    B    C    D
Z  1.0  3.0  8.0  2.0
Y  4.0  4.0  1.0  2.0
X  3.0  9.0  7.0  7.0
W  0.0  2.0  8.0  1.0

In [3]:
# from dict
data = {
    'a': [1, 3, 8, 2],
    'b': [4, 4, 1, 2],
    'c': [3, 9 , 7, 7],
    'd': [0, 2, 8, 1]
}

pd.DataFrame(data)

   a  b  c  d
0  1  4  3  0
1  3  4  9  2
2  8  1  7  8
3  2  2  7  1

In [4]:
# construct empty df then add columns
df = pd.DataFrame()

df['A'] = range(7)
df['B'] = 4.5
df['C'] = 'some string'
df

   A    B            C
0  0  4.5  some string
1  1  4.5  some string
2  2  4.5  some string
3  3  4.5  some string
4  4  4.5  some string
5  5  4.5  some string
6  6  4.5  some string

In [5]:
# appending rows to df with dict
cols = ['a', 'b', 'c', 'd']
df = pd.DataFrame(columns=cols)

row1 = {'a' :1, 'b': 2, 'c': 3, 'd': 4}
df = df.append(row1, ignore_index=True)
df

   a  b  c  d
0  1  2  3  4

In [6]:
# append using series
row2 = ['k', 'l', 'm', 'n']
ser = pd.Series(row2, index=df.columns, name='series name') # index matches df columns
print(ser)

df = df.append(ser) # if series had no name, ignore_index would have to be set to True
df

a    k
b    l
c    m
d    n
Name: series name, dtype: object

             a  b  c  d
0            1  2  3  4
series name  k  l  m  n

In [7]:
# create blank new row and change values using list
df = df.append({}, ignore_index=True)
df.iloc[-1] = [1, 2, 3, 4]
df

   a  b  c  d
0  1  2  3  4
1  k  l  m  n
2  1  2  3  4

In [8]:
# get values back as dict
df.to_dict()

{'a': {0: 1, 1: 'k', 2: 1},
 'b': {0: 2, 1: 'l', 2: 2},
 'c': {0: 3, 1: 'm', 2: 3},
 'd': {0: 4, 1: 'n', 2: 4}}