In [1]:
import pandas as pd
import datetime

# Timestamp
Pandas replacement for datetime.datetime

datetime.datetime also supported in Pandas (can use with pd.datetime)

## From String

### Date String
Date string without time evaluates to midnight

In [2]:
# mm-dd-yyyy
pd.Timestamp('12-19-2008')

Timestamp('2008-12-19 00:00:00')

In [3]:
# m-d-yy
pd.Timestamp('1-9-08')

Timestamp('2008-01-09 00:00:00')

In [4]:
# slashes and dots work too
pd.Timestamp('1/9/08'),  pd.Timestamp('1.9.08')

(Timestamp('2008-01-09 00:00:00'), Timestamp('2008-01-09 00:00:00'))

In [5]:
# yyyy-m-d
pd.Timestamp('2009-6-3')

Timestamp('2009-06-03 00:00:00')

In [6]:
# yyyy-mm-dd
pd.Timestamp('2009-11-30')

Timestamp('2009-11-30 00:00:00')

In [7]:
# just year
pd.Timestamp('2008')

Timestamp('2008-01-01 00:00:00')

In [8]:
# second quarter 2009
pd.Timestamp('2Q2009')

Timestamp('2009-04-01 00:00:00')

In [9]:
pd.Timestamp('2Q2009')

Timestamp('2009-04-01 00:00:00')

In [10]:
pd.Timestamp('2017-01-01T12')

Timestamp('2017-01-01 12:00:00')

In [11]:
pd.Timestamp('2017-01-01M12')

Timestamp('2017-01-01 12:00:00')

In [12]:
for letter in 'ABCDEFGHIJKLMNOPQRSTUV':
    try:
        ts = pd.Timestamp(f'2017{letter}1')
        print(letter + ': ', ts)
    except:
        pass

Q:  2017-01-01 00:00:00
T:  2017-01-01 00:00:00

In [13]:
for letter in 'ABCDEFGHIJKLMNOPQRSTUV':
    try:
        ts = pd.Timestamp(f'2017-1{letter}1')
        print(letter + ': ', ts)
    except:
        pass

M:  2017-01-01 00:00:01
T:  2017-01-01 00:00:00

In [14]:
for letter in 'ABCDEFGHIJKLMNOPQRSTUV':
    try:
        ts = pd.Timestamp(f'2017-1-9{letter}10')
        print(letter + ': ', ts)
    except:
        pass

M:  2017-01-09 10:00:00
T:  2017-01-09 10:00:00

### Time String
Time string without date evaluates to current day

In [15]:
# hh:mm:ss
pd.Timestamp('2:17:00')

Timestamp('2020-03-29 02:17:00')

In [16]:
# h:mm:ss
pd.Timestamp('2:17:00')

Timestamp('2020-03-29 02:17:00')

In [17]:
# decimals of seconds work too
pd.Timestamp('2:17:00.004999')

Timestamp('2020-03-29 02:17:00.004999')

### Date + Time String

In [18]:
# mm-dd-yyyy hh:mm:ss
pd.Timestamp('12-19-2008 23:00:00')

Timestamp('2008-12-19 23:00:00')

## From Keywords

In [19]:
# can use keywords just like datetime object
ts = pd.Timestamp(year=1991, month=12, day=30, hour=8, minute=38, second=38, microsecond=1, nanosecond=5)
ts

Timestamp('1991-12-30 08:38:38.000001005')

## Int or Float

In [20]:
# numbers interpreted as time since midnight Jan 1 1970, default nanosecond
pd.Timestamp(8)

Timestamp('1970-01-01 00:00:00.000000008')

In [21]:
# can specify units
pd.Timestamp(8, unit='d')

Timestamp('1970-01-09 00:00:00')

In [22]:
ts1 = pd.Timestamp(year=1991, month=12, day=30, hour=8, minute=38, second=38, microsecond=1, nanosecond=5)
ts2 = pd.Timestamp(year=1990, month=12, day=30, hour=8, minute=38, second=38, microsecond=1, nanosecond=5)
ts1 - ts2

Timedelta('365 days 00:00:00')

## Alternate Constructors

In [23]:
# using current moment
pd.Timestamp.today()

Timestamp('2020-03-29 20:43:16.122938')

In [24]:
# using current moment in coordinated universal time
pd.Timestamp.utcnow()

Timestamp('2020-03-30 03:43:16.128922+0000', tz='UTC')

## Attributes

In [25]:
ts = pd.Timestamp(year=1991, month=12, day=30, hour=8, minute=38, second=38, microsecond=1, nanosecond=5)

In [26]:
print(ts)
print(ts.year)
print(ts.month)
print(ts.day)
print(ts.minute)
print(ts.second)
print(ts.microsecond)

1991-12-30 08:38:38.000001005
1991
12
30
38
38
1

In [27]:
# get datetime object
ts.date()

datetime.date(1991, 12, 30)

In [28]:
ts.day_name()

'Monday'

In [29]:
ts.month_name()

'December'

In [30]:
ts.dayofweek

0

In [31]:
ts.dayofyear

364

In [32]:
ts.days_in_month

31

In [33]:
# week of year. dec 30 1991 was a monday so it's counted as first week of 1992
ts.week

1

In [34]:
# not the last day of the month so this is False
ts.is_month_end

False

In [35]:
# get quarter of year. Quarters begin at jan, april, july, october
ts = pd.Timestamp('9-30-2008')
print(ts.quarter, ts.is_quarter_end, ts.is_month_end, ts.daysinmonth)

ts = pd.Timestamp('10-1-2008')
ts.quarter, ts.is_quarter_start, ts.is_month_start, ts.daysinmonth

3 True True 30

(4, True, True, 31)

In [36]:
pd.Timestamp('2008').is_leap_year

True