In [1]:
import pandas as pd

pd.options.display.max_rows = 7

In [2]:
df = pd.read_csv('top50.csv', encoding='iso-8859-1', index_col=0)
# select first n rows
df.head(3)

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
ID,,,,,,,,,,,,,
1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85

In [3]:
# select last n rows
df.tail(2)

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
ID,,,,,,,,,,,,,
49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88
50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82

In [4]:
# select a single column (Series object)
df['Genre']

ID
1       canadian pop
2     reggaeton flow
3          dance pop
           ...
48           brostep
49               edm
50               pop
Name: Genre, Length: 50, dtype: object

In [5]:
# select multiple columns (df object)
df[['Genre', 'Energy']]

             Genre  Energy
ID
1     canadian pop      55
2   reggaeton flow      81
3        dance pop      80
..             ...     ...
48         brostep      79
49             edm      70
50             pop      79

[50 rows x 2 columns]

In [6]:
# select specific row by row num
df.iloc[9]

Track.Name              bad guy
Artist.Name       Billie Eilish
Genre                electropop
                      ...
Acousticness..               33
Speechiness.                 38
Popularity                   95
Name: 10, Length: 13, dtype: object

In [7]:
# select specific row by row name (index label)
df.loc[10] # row is named 10 in this case

Track.Name              bad guy
Artist.Name       Billie Eilish
Genre                electropop
                      ...
Acousticness..               33
Speechiness.                 38
Popularity                   95
Name: 10, Length: 13, dtype: object

In [8]:
# select slice of df
df.iloc[20:33:3] # start:stop:step

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
ID,,,,,,,,,,,,,
21,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91
24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91
27,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83
30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89
33,0.958333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89

In [9]:
# select rows and columns
df.iloc[3:8, [3, 7]]

    Beats.Per.Minute  Liveness
ID
4                 93         8
5                150        11
6                102         9
7                180         7
8                111         8

In [10]:
# filter based on column value
df[df['Genre']=='latin']

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
ID,,,,,,,,,,,,,
17,LA CANCIÓN,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90
24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91
29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91
30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89
47,Te Robaré,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88

In [11]:
# multiple filters
df[(df['Genre']=='latin')&(df['Energy']>75)]

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
ID,,,,,,,,,,,,,
24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91
29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91
30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89

In [12]:
# filter using df.query
df.query('Genre=="latin" & Energy>75')

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
ID,,,,,,,,,,,,,
24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91
29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91
30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89

In [13]:
# access cells by row and col numbers with df.iloc
df.iloc[0, 2]

'canadian pop'

In [14]:
# or by row and column labels with df.loc 
df.loc[1, 'Genre']

'canadian pop'

In [15]:
# Generally avoid chained indexing. It creates problems later when trying to set cell values
df[df['Genre']=='latin']['Energy'] # chained
df.loc[df['Genre']=='latin', 'Energy'] # not chained

ID
17    65
24    78
29    86
30    79
47    75
Name: Energy, dtype: int64

In [16]:
# get_loc returns index location suitable for use in iloc
# this can be helpful to avoid chaining
i = df.index.get_loc(2)
print(i)
df.iloc[i, :]

1

Track.Name                 China
Artist.Name             Anuel AA
Genre             reggaeton flow
                       ...
Acousticness..                 8
Speechiness.                   9
Popularity                    92
Name: 2, Length: 13, dtype: object